beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
emoji==0.5.4
idna==2.10
langdetect==1.0.8
lxml==4.6.5
pkg-resources==0.0.0
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
youtube-search==0.1.4
youtube-search-python==1.2.2
